header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: antiquewhite;
}

img {
    width: 100%;
}

nav {
    background-color: yellowgreen;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: aquamarine;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

p {
    padding: 20px;
    font-size: 1rem;
}

.education-container {
    display: flex;
    align-items: center;
}

.education-container img {
    flex-shrink: 0;
    width: 40%;
    margin-right: 10;
}

.education-container .message {
    flex-grow: 1;
}

.experience-container {
    display: flex;
    align-items: center;
}

.experience-container img {
    flex-shrink: 0;
    width: 40%;
    margin-right: 10;
}

.experience-container .message {
    flex-grow: 1;
}

.github-project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.github-project ul {
    list-style: none;
}

.github-project ul li a {
    text-decoration: none;
}